{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Mot de passe oublié</h1>
    {{form_start(form)}}
    {{form_row(form.email)}}
     <div class="form-btn-group pull-right">
        <button type="submit" class="btn btn-primary">Valider</button>
        <a href="{{path('app_security_login')}}" class="btn btn-default">Annuler</a>
    </div>
    {{form_end(form)}}
{% endblock %}
